<section class="hero">
    <div class="container hero-container">
        <div class="hero-div-for-desk">
            <div class="hero-face-list">
                <a href="#reviews">
                    <picture>
                        <source media="(max-width: 767px)" srcset="
                /img/hero/mob-face1-1x.png 1x,
                /img/hero/mob-face1-2x.png 2x
              " />
                        <source media="(max-width: 1279px)"
                            srcset="/img/hero/tab-face1-1x.png, /img/hero/tab-face1-2x.png 2x" />
                        <source media="(min-width: 1280px)" srcset="
                /img/hero/desk-face1-1x.png 1x,
                /img/hero/desk-face1-2x.png 2x
              " />
                        <img src="/img/hero/mob-face1-1x.png" alt="GIRL" width="44" height="44"
                            class="hero-face-img-size" />
                    </picture>

                    <picture class="hero-div-face-one">
                        <source media="(max-width: 767px)" srcset="
                /img/hero/mob-face2-1x.png 1x,
                /img/hero/mob-face2-2x.png 2x
              " />
                        <source media="(max-width: 1279px)"
                            srcset="/img/hero/tab-face2-1x.png, /img/hero/tab-face2-2x.png 2x" />
                        <source media="(min-width: 1280px)" srcset="
                /img/hero/desk-face2-1x.png 1x,
                /img/hero/desk-face2-2x.png 2x
              " />
                        <img src="/img/hero/mob-face1-1x.png" alt="GIRL" width="44" height="44"
                            class="hero-face-img-size" />
                    </picture>

                    <picture class="hero-div-face-two">
                        <source media="(max-width: 767px)" srcset="
                /img/hero/mob-face3-1x.png 1x,
                /img/hero/mob-face3-2x.png 2x
              " />
                        <source media="(max-width: 1279px)"
                            srcset="/img/hero/tab-face3-1x.png, /img/hero/tab-face3-2x.png 2x" />
                        <source media="(min-width: 1280px)" srcset="
                /img/hero/desk-face3-1x.png 1x,
                /img/hero/desk-face3-2x.png 2x
              " />
                        <img src="/img/hero/mob-face1-1x.png" alt="GIRL" width="44" height="44"
                            class="hero-face-img-size" />
                    </picture>

                    <div class="hero-div-face-three">
                        <div class="hero-face-img-span">
                            <p class="hero-face-img-text">
                                2K<span class="hero-text-reviews">reviews</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <h1 class="hero-titel">
                organic <span class="hero-titel-span">vegetables </span> to your diet
                today!
            </h1>
            <p class="hero-text">
                Our expertly curated vegetable baskets are made with the freshest,
                highest quality vegetables available. Fresh Harvest Box has got you
                covered. Fresh, high-quality vegetables in expertly curated vegetable
                baskets delivered to you.
            </p>

            <button class="hero-btn" type="button" data-modal-open>SHOP NOW</button>
        </div>

        <div class="hero-div-for-desk-second">
            <!-- background img!!! -->
            <picture class="hero-bg-div">
                <source media="(max-width: 767px)" srcset="
            /img/hero/mob-hero-img-1x.png 1x,
            /img/hero/mob-hero-img-2x.png 2x
          " />
                <source media="(max-width: 1279px)" srcset="
            /img/hero/tab-hero-img-1x.png 1x,
            /img/hero/tab-hero-img-2x.png 2x
          " />
                <source media="(min-width: 1280px)" srcset="
            /img/hero/desk-hero-img-1x.png 1x,
            /img/hero/desk-hero-img-2x.png 2x
          " />
                <img src="/img/hero/mob-hero-img-1x.png" alt="girl-with-latuck" width="278" height="228"
                    class="hero-bg-img-size" />
            </picture>

            <!-- Navigation pannel -->

            <nav class="hero-nav">
                <ul class="hero-nav-list">
                    <li class="hero-nav-item">
                        <a class="hero-nav-link" href="#vegetables">#organic</a>
                    </li>

                    <li class="hero-nav-item">
                        <a class="hero-nav-link" href="#vegetables">#products</a>
                    </li>

                    <li class="hero-nav-item">
                        <a class="hero-nav-link" href="#basket" data-modal-open>#basket</a>
                    </li>

                    <li class="hero-nav-item">
                        <a class="hero-nav-link" href="#vegetables">#vegetables</a>
                    </li>
                </ul>
            </nav>
            <!-- <div class="scroll-down-btn"> -->
                
            <!-- </div> -->
        </div>
    </div>
</section>

<section class="how-it-works" id="works">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum incidunt, quidem recusandae laborum distinctio obcaecati
        possimus, qui eos nulla, totam quam! Quo fugit nam libero saepe voluptas maxime sunt adipisci?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum incidunt, quidem recusandae laborum distinctio obcaecati possimus, qui eos nulla, totam quam! Quo fugit nam libero saepe voluptas maxime sunt adipisci?</p>
</section>

<section class="footer" id="footer"></section>