<section class="hero">
    <div class="hero-container">
        <div class="hero-faces-img">
            <ul class="hero-link">
                <li class="hero-list"><img class="hero-face-img-item" src="" alt="">1</li>
                <li class="hero-list"><img class="hero-face-img-item" src="" alt="">2</li>
                <li class="hero-list"><img class="hero-face-img-item" src="" alt="">3</li>
                <li class="hero-list"><img class="hero-face-img-item" src="" alt="">4</li>
            </ul>
        </div>
        <h1 class="hero-titel">TO ORDER YOUR VEGETABLE BASKET, SIMPLY FOLLOW THESE EASY STEPS</h1>
        <p class="hero-text">
            Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest
            Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
        </p>

        <button class="hero-btn" type="button">shop now</button>

        <!-- background img!!! -->

        <ul class="hero-btn-pages">
            <li class="hero-btn-pages-list"><button class="hero-btn-pages-btn" type="button"><a class="hero-btn-pages-link" href=""></a>o</button></li>
            <li class="hero-btn-pages-list"><button class="hero-btn-pages-btn" type="button"><a class="hero-btn-pages-link" href=""></a>p</button></li>
            <li class="hero-btn-pages-list"><button class="hero-btn-pages-btn" type="button"><a class="hero-btn-pages-link" href=""></a>b</button></li>
            <li class="hero-btn-pages-list"><button class="hero-btn-pages-btn" type="button"><a class="hero-btn-pages-link" href=""></a>v</button></li>
        </ul>
    </div>
</section>
<p class="hero-p">Hallo!</p>